$color-bg-gray: #333333;
$color-text: #000000;
$color-text-white: #FFFFFF;

/* Base Application Styles */
body {
  padding-top: 70px;
  color: $color-text;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  
  background-color: $color-bg-gray;
  color: $color-text-white;
}