@import 'Colors';
@import 'BootstrapOverrides';

* {
  margin: 0;
}
html, body {
  height: 100%;
}

/* Base Application Styles */
body {
  height: 100%;
  padding-top: 70px;
  color: $color-text;
  background-color: $color-white;

  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

#app {
  margin-bottom: 100px;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 64px;
  padding-top: 24px;
  padding-bottom: 24px;

  background-color: $color-bg-gray;
  color: $color-text-white;
}

.panel-sign-up {
  margin: 48px 0px 64px 0px;
  padding: 20px;

  border: 24px solid $color-flat-blue;

  .alternate-action {
    margin-top: 16px;
    font-size: 14px;
    a {
      font-weight: bold;
      margin-left: 4px;
    }
  }
}

.dashboard {
  background-color: $color-white;
}

.protip:before {
    content: "\f05a"; // fa-info-circle
    font-family: FontAwesome;
    left: 8px;
    top: 8px !important;
    position:absolute;
    top:0;
}
.protip {
  margin-bottom: 12px;
  font-size: 14px;
  position: relative;
  padding: 8px 8px 8px 24px;
  background-color: $color-flat-dark-gray;
  .protip-title {
    font-weight: bold;
    margin-bottom: 4px;
  }
}

.step-hint:before {
    content: "\f059"; // fa-icon-question-sign
    font-family: FontAwesome;
    left: 8px;
    top: 8px !important;
    position:absolute;
    top:0;
}
.step-hint {
  margin-bottom: 12px;
  font-size: 14px;
  position: relative;
  padding: 8px 8px 8px 24px;
  background-color: $color-flat-dark-gray;
  .protip-title {
    font-weight: bold;
    margin-bottom: 4px;
  }
}


.loading {
  margin: 64px;
  font-size: 16px;
}

.pagination {
  cursor: pointer;
}

@import 'Builder';
@import 'YardBuilder';
@import 'BedBuilder';
@import 'BedTemplateSelect';
@import 'YardList';
@import 'PlantSelect';
@import 'PlantSearch';
