@import 'Colors';

.builder {
  .btn {
    padding: 12px 18px;
    font-size: 20px;
  }

  .step {
    color: $color-white;
    padding: 8px;
    border-bottom: 4px solid $color-flat-light-gray;

    .step-title {
      display: block;
      font-weight: bold;
      font-size: 20px;
      padding-left: 24px;
    }
    .step-contents {
      display: none;

      input[type=radio] {
        margin-top: -6px;
      }
      input[type=checkbox] {
        margin-top: -6px;
      }

      .help-block {
        color: $color-white;
        font-size: 16px;
      }

      .form-error {
        margin-top: 4px;
        border-left: 4px solid $color-flat-red;
        border-right: 4px solid $color-flat-red;
        padding: 0px 4px 0px 4px;
        background-color: $color-white;
        color: $color-flat-red;
        font-size: 14px;
        font-weight: bold;
      }

      .title {
        margin-bottom: 16px;
        font-size: 36px;
        font-weight: bold;
      }

      p {
        font-size: 24px;
      }

      label {
        margin: 8px 16px 16px 0px;
        font-size: 24px;
      }

      input {
        font-size: 24px;
        height: 48px;
      }
    }
  }
  .step.active {
    padding: 24px;
    .step-title {
      display: none;
    }
    .step-contents {
      display: block;
    }
  }
  .step.incomplete {
    background-color: $color-flat-gray;
  }
}
