@import 'Colors';

.plant-search {

    .step-hint {
      .basic-template-search {
      .plant-image-background {
        width: 64px;
        height: 64px;
        float: left;
        margin-left: 8px;

      }
    }

    .visual-search-result.favorite {
      .plant-name {
        color: $color-text;
        background-color: $color-flat-yellow;
      }
    }
  }
}

.visual-search-result {
  position: relative;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  cursor: pointer;

  .plant-name {
    position: absolute;
    top: 8px;
    left: 0px;
    right: 0px;
    background-color: $color-flat-dark-gray;
    opacity: 0.8;
    color: $color-white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
}
