@import 'Colors';

.template-plants-list {
  margin-bottom: 24px;
}

.template-plant {
  padding: 12px 8px;
  background-color: $color-flat-light-gray;
  color: $color-text;
  border-bottom: 1px solid $color-flat-dark-gray;

  .plant-label {
    font-size: 32px;
    font-weight: bold;
  }

  .plant-type {
    font-weight: bold;
    font-size: 20px;
  }

  .plant-tooltip {
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
    padding: 12px 20px;
    i {
      margin-right: 8px;
    }
  }

  .selected {
    .selected-plant-name {
      font-weight: bold;
      font-size: 16px;
    }

    .image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      height: 120px;
    }
  }

  .unselected {
    text-align: right;
    margin-top: 8px;
  }

}
