@import 'Colors';

.yards-list {
  .btn-first-yard {
    font-size: 24px;
    padding: 12px 18px;
  }

}

.panel-yard-list-intro {
  p {
    font-size: 18px; 
  }
}

.panel-yard-list-item {
  .panel-heading {
    text-align: left;
    font-size: 24px;
  }
  margin-bottom: 64px;

  .plants-list {
    margin: 24px;
    .plant-image-background {
      height: 100px;
      width: 100px;
      float: left;
    }
  }

  .btn {
    margin-right: 12px;
    margin-bottom: 12px;
  }
}
