@import 'Colors';

.yard-builder {
  .step-location {
    background-color: $color-flat-green;

    input.zipcode {
      margin-top: -10px;
      width: 128px;
    }
  }
  .step-soil {
    background-color: $color-flat-blue;
  }
  .step-plant-preferences {
    background-color: $color-flat-purple;

    ul.plant-types {
      list-style-type: none;
      padding: 0px;

      li {
        background-color: $color-white;
        color: $color-text;
        padding: 12px 12px 12px 24px;
        border-left: 12px solid $color-flat-gray;
        cursor: pointer;

        .name {
          font-weight: bold;
          font-size: 18px;
        }
        .description {
          font-size: 16px;
          margin-bottom: 12px;
        }
        .examples {

        }
        .image {
          text-align: right;
          img {
            height: 80px;
          }
        }
      }

      li.active {
        border-left: 24px solid $color-flat-green;
        padding-left: 12px;
      }
    }
  }
}
