@import 'Colors';

.yards-list {
  .btn-first-yard {
    font-size: 24px;
    padding: 12px 18px;
  }

  .yard-list-tile {
    cursor: pointer;
    border: 12px solid $color-flat-green;
    padding: 12px 24px;
    margin-right: 16px;
    margin-bottom: 12px;
  }
}
